@using Domain.Entities.Category
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ViewModels.AdminPanel.Job
@model CreateKeywordViewModel

@{
	ViewData["Title"] = "ثبت کلمه کلیدی جدید";
	ViewData["selected"] = "Keywords_Create";
	var categories = (List<Category>)ViewData["categories"]!;
}

<section>
	<div class="card">
		<div class="card-content">
			<div class="card-body">
				<ul class="nav nav-tabs mb-2">
					<li class="nav-item current">
						<a class="nav-link d-flex align-items-center active">
							<i class='bx bx-task'></i><span class="d-none d-sm-block">کلمه کلیدی</span>
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active">
						<form method="post" enctype="multipart/form-data">
							<div class="row">
								<div class="col-12 col-sm-6 col-lg-3">
									<div class="form-group">
										<div class="controls">
											<span class="text-danger">*</span>
											<label asp-for="Title"></label>
											<input asp-for="Title" type="text" class="form-control text-left">
											<div class="help-block">
												<span asp-validation-for="Title" class="text-danger"></span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-lg-3">
									<div class="form-group">
										<div class="controls">
											<span class="text-danger">*</span>
											<label asp-for="Slug"></label>
											<input asp-for="Slug" id="route" type="text" class="form-control text-right">
											<div class="help-block" id="routeValidation">
												<span asp-validation-for="Slug" class="text-danger"></span>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-12 col-sm-6 col-lg-6">
									<div class="form-group">
										<div class="controls">
											<span class="text-danger">*</span>
											<label asp-for="CategoryId"></label>
											<select asp-for="CategoryId" class="form-control">
												@if (categories.Any() || categories.Count > 1)
												{
													@foreach (var item in categories.Where(c => c.NodeLevel == 1 && c.ParentId == 0))
													{
														if (item.NodeLevel == 1)
														{
															<optgroup>
																<option value="@item.Id" disabled="disabled"> Ⅰ   @item.Name</option>
																@foreach (var item2 in categories.Where(c => c.ParentId == item.Id && c.NodeLevel == 2))
																{
																	<optgroup>
																		@if (categories.Any(c => c.ParentId == item2.Id))
																		{
																			<option value="@item2.Id" class="text-muted" disabled="disabled"> Ⅱ @item2.Name</option>
																			@foreach (var item3 in categories.Where(c => c.ParentId == item2.Id && c.NodeLevel == 3))
																			{
																				<option value="@item3.Id"> Ⅲ @item3.Name</option>
																			}
																		}
																		else
																		{
																			<option value="@item2.Id"> Ⅱ @item2.Name</option>
																		}
																	</optgroup>
																}
															</optgroup>
														}
													}
												}
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
								<button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">ذخیره</button>
								<button onclick="history.back()" type="reset" class="btn btn-light">انصراف</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}