@using Common.Utilities.Services.FTP.Models
@using Domain.Entities.Subscription
@using Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@model ViewModels.AdminPanel.Subscription.UpdateSubscriptionViewModel
@inject IOptions<FTPConnectionOptions> FtpConnectionOptions

@{
	string UrlBase = FtpConnectionOptions.Value.UrlBase;
	ViewData["Title"] = "ویرایش اشتراک";
	ViewData["selected"] = "Subscriptions_Index";

	var subscriptionFeature = (List<SubscriptionFeature>)ViewData["subscriptionFeature"]!;
	var features = (List<Feature>)ViewData["features"]!;
}

<section>
	<div class="card">
		<div class="card-content">
			<div class="card-body">
				<ul class="nav nav-tabs mb-2">
					<li class="nav-item current">
						<a class="nav-link d-flex align-items-center active">
							<i class='bx bx-task'></i><span class="d-none d-sm-block">اشتراک</span>
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active">
						<form method="post" enctype="multipart/form-data">
							<input type="hidden" asp-for="Id" />
							<input type="hidden" asp-for="IsActive" value="true" />
							<div class="card-title-details d-flex align-items-center mb-1 ml-1">
								<div>
									<div class="avatar bg-rgba-primary p-25 mr-2 ml-0">
										<img id="selected-picture" class="img-fluid" src="@UrlBase@Model.IconFile" height="100" width="100">
									</div>
									<div class="mt-n25">
										<h5>تصویر انتخاب شده</h5>
										<p class="text-info">راهنمای سایز :W: x-px * H: x-px </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-12 mb-1">
									<fieldset>
										<div class="input-group">
											<div class="custom-file">
												<input asp-for="IconFile" type="file" class="custom-file-input" accept=".jpg,.png,.jpeg,.gif,.webp">
												<label class="custom-file-label">انتخاب آیکن</label>
											</div>
										</div>
									</fieldset>
									<div class="help-block">
										<span asp-validation-for="IconFile" class="text-danger"></span>
									</div>
								</div>



								<div class="col-12 col-sm-6 col-lg-6">
									<div class="form-group">
										<div class="controls">
											<span class="text-danger">*</span>
											<label asp-for="Title"></label>
											<input asp-for="Title" type="text" class="form-control text-left">
											<div class="help-block">
												<span asp-validation-for="Title" class="text-danger"></span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-lg-6">
									<div class="form-group">
										<div class="controls">
											<span class="text-danger">*</span>
											<label asp-for="SubTitle"></label>
											<input asp-for="SubTitle" type="text" class="form-control text-left">
											<div class="help-block">
												<span asp-validation-for="SubTitle" class="text-danger"></span>
											</div>
										</div>
									</div>
								</div>


                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="Price"></label>
                                            <input asp-for="Price" type="number" class="form-control text-right">
                                            <div class="help-block">
                                                <span asp-validation-for="Price" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="Discount"></label>
                                            <input asp-for="Discount" type="number" class="form-control text-right">
                                            <div class="help-block">
                                                <span asp-validation-for="Discount" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="GiftCharge"></label>
                                            <input asp-for="GiftCharge" type="number" class="form-control text-right">
                                            <div class="help-block">
                                                <span asp-validation-for="GiftCharge" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12"><hr /></div>

                                <div class="col-12 col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="Type"></label>
                                            <select asp-for="Type" class="form-control">
                                                <!option value="@SubscriptionType.Simple" @if (Model.Type == SubscriptionType.Simple) { <text>selected="selected"</text> }>@SubscriptionType.Simple.GetEnumDisplayName()</!option>
                                                <!option value="@SubscriptionType.Standard" @if (Model.Type == SubscriptionType.Standard) { <text>selected="selected"</text> }>@SubscriptionType.Standard.GetEnumDisplayName()</!option>
                                                <!option value="@SubscriptionType.Premium" @if (Model.Type == SubscriptionType.Premium) { <text>selected="selected"</text> }>@SubscriptionType.Premium.GetEnumDisplayName()</!option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="DurationType"></label>
                                            <select asp-for="DurationType" class="form-control">
                                                <!option value="@SubscriptionDurationType.OneMonth" @if (Model.DurationType == SubscriptionDurationType.OneMonth) { <text>selected="selected"</text> }>@SubscriptionDurationType.OneMonth.GetEnumDisplayName()</!option>
                                                <!option value="@SubscriptionDurationType.ThreeMonth" @if (Model.DurationType == SubscriptionDurationType.ThreeMonth) { <text>selected="selected"</text> }>@SubscriptionDurationType.ThreeMonth.GetEnumDisplayName()</!option>
                                                <!option value="@SubscriptionDurationType.SixMonth" @if (Model.DurationType == SubscriptionDurationType.SixMonth) { <text>selected="selected"</text> }>@SubscriptionDurationType.SixMonth.GetEnumDisplayName()</!option>
                                                <!option value="@SubscriptionDurationType.OneYear" @if (Model.DurationType == SubscriptionDurationType.OneYear) { <text>selected="selected"</text> }>@SubscriptionDurationType.OneYear.GetEnumDisplayName()</!option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

								<div class="col-12">
									<div class="form-group">
										<div class="controls">
											<label asp-for="Features"></label>
											<select asp-for="Features" class="select2 form-control" multiple>
												@if (features.Any() && features.Count > 1)
												{
													@foreach (var item in features)
													{
														@if (subscriptionFeature.Any(s => s.FeatureId == item.Id))
														{
															<option value="@item.Id" selected>@item.Title</option>
														}
														else
														{
															<option value="@item.Id">@item.Title</option>
														}
													}
												}
											</select>
										</div>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-lg-3">
									<div class="form-group">
										<div class="controls">
											<label asp-for="IsActive"></label>
											<select asp-for="IsActive" class="form-control">
												<!option value="true" @if (Model.IsActive) { <text>selected="selected"</text> }>فعال</!option>
												<!option value="false" @if (!Model.IsActive) { <text>selected="selected"</text> }>غیرفعال</!option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
								<button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">ذخیره</button>
								<button onclick="history.back()" type="reset" class="btn btn-light">انصراف</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#selected-picture').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#Icon").change(function () {
			readURL(this);
		});
	</script>
}