@model ViewModels.AdminPanel.Filter.PaymentFilterViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Domain.Entities.Payment
@{
	ViewData["Title"] = "پرداخت ها";
	ViewData["selected"] = "Payments_Index";
	var paymentPortals = (List<PaymentPortal>)ViewData["paymentPortals"]!;

	var counter = ((Model.CurrentPage - 1) * Model.PageSize) + 1;
}

<section>
	<div class="users-list-filter px-1">
		<form method="get">
			<input type="hidden" asp-for="FindAll" id="FindAll" value="false" />
			<div class="row border rounded py-2 mb-2">
                <div class="col-12 col-sm-6 col-lg-3">
                    <label>تعداد نمایش در هر صفحه</label>
                    <fieldset class="form-group">
                        <select asp-for="PageSize" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </fieldset>
                </div>
				
                <div class="col-12 col-sm-6 col-lg-3">
                    <label>شماره پرداخت</label>
                    <input asp-for="Number" type="text" class="form-control text-right" />
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
					<label>درگاه</label>
					<fieldset class="form-group">
						<select asp-for="PaymentPortalId" class="form-control">
							<option value="null">همه</option>
							@foreach (var item in paymentPortals)
							{
								<option value="@item.Id">@item.Title</option>
							}
						</select>
					</fieldset>
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<label>تاریخ  از</label>
					<input asp-for="From" type="text" class="form-control text-right" data-jdp />
				</div>

				<div class="col-12 col-sm-6 col-lg-3">
					<label>تا</label>
					<input asp-for="To" type="text" class="form-control text-right" data-jdp />
				</div>

				<div class="col-12 col-sm-12 col-lg-6 d-flex align-items-center">
					<div class="col-4 col-sm-4 col-lg-4 d-flex align-items-center">
						<button id="empty" type="button" class="btn btn-warning btn-block glow users-list-clear mb-0 mt-75">خالی </button>
					</div>
					<div class="col-4 col-sm-4 col-lg-4 d-flex align-items-center">
						<button type="submit" id="SetFindAll" class="btn btn-info btn-block glow users-list-clear mb-0 mt-75">همه</button>
					</div>
					<div class="col-4 col-sm-4 col-lg-4 d-flex align-items-center">
						<button type="submit" class="btn btn-primary btn-block glow users-list-clear mb-0 mt-75">جستجو</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="card">
		<div class="table-responsive">
			<div class="dataTables_wrapper no-footer">
				<table class="table mb-0 table-striped table-hover no-footer">
					<thead class="thead-dark">
						<tr role="row" class="text-center">
							<th>ردیف</th>
							<th>@(Resources.General.DisplayNames.Id)</th>
							<th>شماره پرداخت</th>
							<th>@(Resources.General.DisplayNames.Amount)</th>
							<th>روش پرداخت</th>
							<th>@(Resources.General.DisplayNames.Date)</th>
							<th>تاریخ آخرین تمدید</th>
							<th>@(Resources.General.DisplayNames.Actions)</th>
						</tr>
					</thead>
					<tbody>
						@if (Model.Entities.Any())
						{
							@foreach (var item in Model.Entities)
							{
								<tr role="row" class="odd text-center">
									<td>@counter</td>
									<td>@item.Id</td>
									<td>@item.Number</td>
									<td>@item.Amount</td>
									<td>@item.PaymentMethod.GetEnumDisplayName()</td>
									<td>@item.PaymentDate.ToStringShamsiDate()</td>
									@if (item.RenewalDate.HasValue)
                                    {
										<td>@item.RenewalDate.Value.ToStringShamsiDate()</td>
                                    }
                                    else
                                    {
										<td>---</td>
                                    }
									<td>
										<a asp-controller="Payment" asp-action="Transaction" asp-route-id="@item.Id" target="_blank" data-toggle="tooltip" data-placement="top" data-original-title="تراکنش ها"><i class="bx bx-show-alt text-primary"></i></a>
									</td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td colspan="6" class="text-center">@(Resources.General.DisplayNames.ListEmpty)</td>
							</tr>
						}
					</tbody>
				</table>

				<nav aria-label="Page navigation">
					<ul class="pagination pagination-borderless justify-content-center mt-2">
						@if (Model.CurrentPage > 1)
						{
							<li class="page-item previous">
								<a onclick="changePage(@(Model.CurrentPage-1))" class="page-link" href="#">
									<i class="bx bx-chevron-right"></i>
								</a>
							</li>
						}
						else
						{
							<li class="page-item previous disabled">
								<a class="page-link" href="#">
									<i class="bx bx-chevron-right"></i>
								</a>
							</li>
						}
						@for (int i = Model.StartPage; i < Model.EndPage; i++)
						{
							<li class="@(i==Model.CurrentPage?"page-item active":"page-item")" onclick="changePage(@(i))">
								<a class="page-link">@i</a>
							</li>
						}
						@if (Model.CurrentPage < Model.EndPage)
						{
							<li class="page-item next">
								<a onclick="changePage(@(Model.CurrentPage+1))" class="page-link" href="#">
									<i class="bx bx-chevron-left"></i>
								</a>
							</li>
						}
						else
						{
							<li class="page-item next disabled">
								<a class="page-link" href="#">
									<i class="bx bx-chevron-left"></i>
								</a>
							</li>
						}
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="modal fade text-left" id="UpdateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">ویرایش پرداخت</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="بستن">
						<i class="bx bx-x"></i>
					</button>
				</div>

			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script src="~/lib/ckeditor5/ckeditor.js"></script>
	<script src="~/lib/ckeditor5/customckeditor.js"></script>

	<script>
		function changePage(Page) {
			var url = new URL(window.location.href);
			var SerachParams = url.searchParams;
			//Change PageId
			SerachParams.set('CurrentPage', Page);
			url.search = SerachParams.toString();
			//new Url String
			var newUrlString = url.toString();
			window.location.replace(newUrlString);
		}

		$("#SetFindAll").click(function (event) {
			$("#FindAll").val("true");
		});
		
		$("#empty").click(function (event) {
			$("#PageSize").val(10);
			$("#PaymentPortalId").val('null');
			$("#To").val(null);
			$("#From").val(null);
		});

		jalaliDatepicker.startWatch();
	</script>
}