@using Domain.Entities.Category
@using Domain.Entities.Job
@model JobBranchAds
@{
    ViewData["selected"] = "Ads_CreateJobBranchAds";
    ViewData["Title"] = "تبلیغ مشاغل";
    var jobBranches = (List<JobBranch>)ViewData["jobBranches"]!;
    var categories = (List<Category>)ViewData["categories"]!;
}

<section>
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ul class="nav nav-tabs mb-2">
                    <li class="nav-item current">
                        <a class="nav-link d-flex align-items-center active">
                            <i class='bx bx-task'></i><span class="d-none d-sm-block">@ViewData["Title"]</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label>شغل مورد نظر را انتخاب نمایید</label>
                                            <label class="text-warning">اگر یک شغل چند شعبه دارد فقط یک شعبه قابل انتخاب است</label>
                                            <select Id="jobBranchId" name="jobBranchId" class="select2 form-control">
                                                @foreach (var jobBranch in jobBranches.ToList())
                                                {
                                                    <option value="@jobBranch.Id">@jobBranch.Title</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label>این شغل در چه دسته هایی جایگاه داشته باشد؟</label>
                                            <select id="categoryIds" name="categoryIds[]" class="select2 form-control" multiple>
                                                @foreach (var category in categories.ToList())
                                                {
                                                    <option value="@category.Id">@category.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="Sort">ترتیب</label>
                                            <input asp-for="Sort" type="number" class="form-control text-left">
                                            <div class="help-block">
                                                <span asp-validation-for="Sort" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input asp-for="Pinned" type="checkbox" class="checkbox-input">
                                            <label asp-for="Pinned">سنجاق شود ؟ (درصورت سنجاق کردن ، شغل در تمامی دسته بندی ها در جایگاه اول قرار میگیرد)</label>
                                            <div class="help-block">
                                                <span asp-validation-for="Pinned" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                    <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">ذخیره</button>
                                    <button onclick="history.back()" type="reset" class="btn btn-light">انصراف</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
