@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Domain.Entities.Faq
@using Constants.Files
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CreateFaqViewModel
@{
    var faqCategories = (List<FaqCategory>)ViewData["faqCategories"]!;
}
@section CSS
{
    <style>
        .ck-editor__editable_inline {
            min-height: 400px;
        }
    </style>
}

<form asp-controller="Faqs" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="card-title-details d-flex align-items-center mb-1 ml-1">
            <div class="avatar bg-rgba-primary p-25 mr-2 ml-0">
                <img id="createSelectImage" class="img-fluid" src="@Paths.DefaultIconPath" height="70" width="70">
            </div>
            <div class="mt-n25">
                <h5>@(Resources.General.DisplayNames.Icon) انتخاب شده</h5>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <fieldset>
                    <div class="input-group">
                        <div class="custom-file">
                            <input id="createFile" asp-for="File" type="file" class="custom-file-input" accept="@MimeTypes.Images.ArrayToString()">
                            <label class="custom-file-label">انتخاب @(Resources.General.DisplayNames.Icon)</label>
                        </div>
                    </div>
                </fieldset>
                <div class="help-block">
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="CategoryId"></label>
                <fieldset class="form-group">
                    <select asp-for="CategoryId" class="form-control">
                        @foreach (var item in faqCategories)
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                    <div class="help-block">
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="Question"></label>
                <input asp-for="Question" type="text" class="form-control text-left">
                <div class="help-block">
                    <span asp-validation-for="Question" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="Answer"></label>
                <textarea class="form-control" id="ckeditor5" asp-for="Answer"></textarea>
                <div class="help-block">
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <label asp-for="Sort"></label>
                <input asp-for="Sort" type="text" dir="ltr" class="form-control">
                <div class="help-block">
                    <span asp-validation-for="Sort" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">بستن</span>
        </button>
        <button type="submit" class="btn btn-primary ml-1">
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">تایید</span>
        </button>
    </div>
</form>
