@using Domain.Entities.Category
@using Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModels.AdminPanel.Cms.CreateTagViewModel
@{
	var categories = (List<Category>)ViewData["categories"]!;
}
<form asp-controller="Categories" asp-action="CreateCategoryTag" method="post" enctype="multipart/form-data">
	<div class="modal-body">
		<div class="card-title-details d-flex align-items-center mb-1 ml-1">
			<div class="avatar bg-rgba-primary p-25 mr-2 ml-0">
				<img id="createSelectImage" class="img-fluid" src="@Paths.DefaultsImagePath/PlaceHolder.svg" height="70" width="70">
			</div>
			<div class="mt-n25">
				<h5>@(Resources.General.DisplayNames.Icon) انتخاب شده</h5>
				<p class="text-info">راهنمای سایز : width = 700 , height = 600 </p>
			</div>
		</div>

		<div class="form-group">
			<div class="controls">
				<fieldset>
					<div class="input-group">
						<div class="custom-file">
							<input id="create-icon" asp-for="IconPictureFile" type="file" class="custom-file-input" accept="@MimeTypes.Images">
							<label class="custom-file-label">انتخاب @(Resources.General.DisplayNames.Icon)</label>
						</div>
					</div>
				</fieldset>
				<div class="help-block">
					<span asp-validation-for="IconPictureFile" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="controls">
				<label asp-for="Name"></label>
				<input asp-for="Name" type="text" class="form-control text-left">
				<div class="help-block">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="controls">
				<label asp-for="UniqueName">نام یونیک</label>
				<input asp-for="UniqueName" type="text" class="form-control">
				<div class="help-block">
					<span asp-validation-for="UniqueName" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="controls">
				<label asp-for="IconHtmlCode"></label>
				<input asp-for="IconHtmlCode" dir="ltr" class="form-control">
				<div class="help-block">
					<span asp-validation-for="IconHtmlCode" class="text-danger"></span>
				</div>
			</div>
		</div>


		<div class="form-group">
			<div class="controls">
				<label>دسته بندی</label>
				<fieldset class="form-group">
					<select name="categoryId" class="form-control">
						@foreach (var category in categories)
						{
							<option value="@category.Id">@category.Name</option>
						}
					</select>
					<div class="help-block">
						<span asp-validation-for="Type" class="text-danger"></span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="form-group">
			<div class="controls">
				<label asp-for="Type"></label>
				<fieldset class="form-group">
					<select asp-for="Type" class="form-control" disabled="disabled">
						<option value="Category" selected="selected">@(TagType.Category.GetEnumDisplayName())</option>
					</select>
					<div class="help-block">
						<span asp-validation-for="Type" class="text-danger"></span>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="form-group">
			<div class="checkbox">
				<input asp-for="Status" type="checkbox" value="true" class="checkbox-input">
				<label asp-for="Status"></label>
				<div class="help-block">
					<span asp-validation-for="Status" class="text-danger"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-light-secondary" data-dismiss="modal">
			<i class="bx bx-x d-block d-sm-none"></i>
			<span class="d-none d-sm-block">بستن</span>
		</button>
		<button type="submit" class="btn btn-primary ml-1">
			<i class="bx bx-check d-block d-sm-none"></i>
			<span class="d-none d-sm-block">تایید</span>
		</button>
	</div>
</form>


	
