@using Constants.Files
@using Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModels.AdminPanel.Category.CreateCategoryViewModel
@{
    ViewData["Title"] = "ثبت دسته جدید";
    ViewData["selected"] = "Categories_Create";
    var node = (short)ViewData["nodeLevel"]!;
    var parentId = (int)ViewData["parentId"]!;
    var mainParentId = (int)ViewData["mainParentId"]!;

    bool lastNode = node == 3;

    var faqCategories = (List<FaqCategory>)ViewData["faqCategories"]!;
}

@section CSS
{
    <style>
        .ck-editor__editable_inline {
            min-height: 400px;
        }
    </style>
}

<section>
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ul class="nav nav-tabs mb-2">
                    <li class="nav-item current">
                        <a class="nav-link d-flex align-items-center active">
                            <i class='bx bx-task'></i><span class="d-none d-sm-block">دسته</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="NodeLevel" value="@node" />
                            <input type="hidden" asp-for="ParentId" value="@parentId" />
                            <input type="hidden" asp-for="IsLastNode" value="@lastNode" />
                            <input type="hidden" asp-for="MainParentId" value="@mainParentId" />
                            <div class="card-title-details d-flex align-items-center mb-1 ml-1">
                                <div>
                                    <div class="avatar bg-rgba-primary p-25 mr-2 ml-0">
                                        <img id="selected-picture" class="img-fluid" src="@Paths.DefaultsImagePath/PlaceHolder.svg" height="100" width="100">
                                    </div>
                                    <div class="mt-n25">
                                        <h5>تصویر انتخاب شده</h5>
                                        <p class="text-info">راهنمای سایز : width = 400 , height = 1400 </p>
                                    </div>
                                </div>

                                <div style="margin-right:34%">
                                    <div class="avatar bg-rgba-primary p-25 mr-2 ml-0">
                                        <img id="selected-icon" class="img-fluid" src="@Paths.DefaultsImagePath/PlaceHolder.svg" height="100" width="100">
                                    </div>
                                    <div class="mt-n25 mr-5">
                                        <h5>آیکن انتخاب شده</h5>
                                        <p class="text-info">راهنمای سایز : width = 70 , height = 70 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-6 mb-1">
                                    <fieldset>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input asp-for="PictureFile" type="file" class="custom-file-input" accept="@MimeTypes.Images">
                                                <label class="custom-file-label">انتخاب تصویر</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="help-block">
                                        <span asp-validation-for="PictureFile" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-6 col-md-6 mb-1">
                                    <fieldset>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input asp-for="IconPictureFile" type="file" class="custom-file-input" accept="@MimeTypes.Images">
                                                <label class="custom-file-label">انتخاب آیکن</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="help-block">
                                        <span asp-validation-for="IconPictureFile" class="text-danger"></span>
                                    </div>
                                </div>



                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="Name"></label>
                                            <input asp-for="Name" type="text" class="form-control text-left">
                                            <div class="help-block">
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="Route"></label>
                                            <input asp-for="Route" type="text" class="form-control text-right">
                                            <div class="help-block">
                                                <span asp-validation-for="Route" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-1">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="Sort"></label>
                                            <input asp-for="Sort" class="form-control text-right">
                                            <div class="help-block">
                                                <span asp-validation-for="Sort" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            <div class="col-12 col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <div class="controls">
                                        <span class="text-danger">*</span>
                                        <label asp-for="Type"></label>
                                        <fieldset class="form-group">
                                            <select asp-for="Type" class="form-control">
                                                <option value="BrandName">@CategoryBusinessType.BrandName.GetEnumDisplayName()</option>
                                                <option value="PersonalBrand">@CategoryBusinessType.PersonalBrand.GetEnumDisplayName()</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-12 col-sm-12 col-lg-3">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="HeadingTitle"></label>
                                            <input asp-for="HeadingTitle" class="form-control text-left">
                                            <div class="help-block">
                                                <span asp-validation-for="HeadingTitle" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label>دسته اصلی سوالات متداول</label>
                                            <fieldset class="form-group">
                                                <select id="mainFaqCategoryId" class="select2 form-control">
                                                    @if (faqCategories.Any())
                                                    {
                                                        @foreach (var item in faqCategories.Where(f => f.ParentId == 0))
                                                        {
                                                            <option value="@item.Id">@item.Title</option>
                                                        }
                                                    }
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                
                            <div class="col-12 col-sm-3 col-lg-3">
                                <div class="form-group">
                                    <div class="controls">
                                        <span class="text-danger">*</span>
                                        <label>دسته دوم</label>
                                        <fieldset class="form-group">
                                            <select id="childFaqCategoryId" class="select2 form-control">
                                                
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3 col-lg-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <span class="text-danger">*</span>
                                            <label asp-for="Faqs"></label>
                                            <fieldset class="form-group">
                                                <select id="Faqs" asp-for="Faqs" class="select2 form-control">
                                                  
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <span class="text-danger">*</span>
                                        <label asp-for="PageContent"></label>
                                        <textarea class="form-control" id="ckeditor5" asp-for="PageContent"></textarea>
                                        <div class="help-block">
                                            <span asp-validation-for="PageContent" class="text-danger"></span>
                                        </div>
                                        <div class="text-warning d-block invalid-feedback">
                                            <i class="bx bx-radio-circle"></i>
                                            متن مورد نظر را بطور دلخواه بنویسید
                                        </div>
                                        <div class="text-warning d-block invalid-feedback">
                                            <i class="bx bx-radio-circle"></i>
                                            برای درج شهر دسته بندی در متن، باید از نشانه %city% استفاده کنید.
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="MetaTitle"></label>
                                            <input asp-for="MetaTitle" type="text" class="form-control text-left">
                                            <div class="help-block">
                                                <span asp-validation-for="MetaTitle" class="text-danger"></span>
                                            </div>
                                            <div class="text-warning d-block invalid-feedback">
                                                <i class="bx bx-radio-circle"></i>
                                                متن مورد نظر را بطور دلخواه بنویسید
                                            </div>
                                            <div class="text-warning d-block invalid-feedback">
                                                <i class="bx bx-radio-circle"></i>
                                                برای درج شهر دسته بندی در متن، باید از نشانه %city% استفاده کنید.
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="MetaDesc"></label>
                                            <textarea class="form-control" asp-for="MetaDesc" rows="3"></textarea>
                                            <div class="help-block">
                                                <span asp-validation-for="MetaDesc" class="text-danger"></span>
                                            </div>

                                            <div class="text-warning d-block invalid-feedback">
                                                <i class="bx bx-radio-circle"></i>
                                                متن مورد نظر را بطور دلخواه بنویسید
                                            </div>
                                            <div class="text-warning d-block invalid-feedback">
                                                <i class="bx bx-radio-circle"></i>
                                                برای درج شهر دسته بندی در متن، باید از نشانه %city% استفاده کنید.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="MetaCanonicalUrl"></label>
                                            <input asp-for="MetaCanonicalUrl" type="text" class="form-control text-right">
                                            <div class="help-block">
                                                <span asp-validation-for="MetaCanonicalUrl" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input asp-for="IndexMeta" type="checkbox" class="checkbox-input">
                                            <label asp-for="IndexMeta"></label>
                                            <div class="help-block">
                                                <span asp-validation-for="IndexMeta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input asp-for="CanonicalMeta" type="checkbox" class="checkbox-input">
                                            <label asp-for="CanonicalMeta"></label>
                                            <div class="help-block">
                                                <span asp-validation-for="CanonicalMeta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <input asp-for="IsActive" type="checkbox" class="checkbox-input">
                                            <label asp-for="IsActive"></label>
                                            <div class="help-block">
                                                <span asp-validation-for="IsActive" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">ذخیره</button>
                                <button onclick="history.back()" type="reset" class="btn btn-light">انصراف</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script src="~/lib/ckeditor5/customckeditor.js"></script>
    <script src="~/assets/js/scripts/wordify/wordifyfa.min.js"></script>
    <script>
     $("#mainFaqCategoryId").on('change', function (e) {
            var GetId = $('#mainFaqCategoryId').val();

            $.ajax({
                type: 'post',
                url: '@Url.Action("GetChildFaqCategories", "Ajax")',
                data: { parentId: GetId },
                success: function (result) {
                    if (result.status == "success") {
                        $('#childFaqCategoryId').empty();

                        $('#childFaqCategoryId').append($("<option></option>")
                            .val("0").html("انتخاب کنید"));

                        $.each(result.faqChild, function (i) {
                            $('#childFaqCategoryId').append($("<option></option>")
                                .val(result.faqChild[i].id).html(result.faqChild[i].title));
                        });

                    }
                }
            });
        });


         $("#childFaqCategoryId").on('change', function (e) {
            var GetId = $('#childFaqCategoryId').val();

            $.ajax({
                type: 'post',
                url: '@Url.Action("GetFaqsByCategoryId", "Ajax")',
                data: { categoryId: GetId },
                success: function (result) {
                    if (result.status == "success") {
                        $('#Faqs').empty();

                        $('#Faqs').append($("<option></option>")
                            .val("0").html("انتخاب کنید"));

                        $.each(result.faqs, function (i) {
                            $('#Faqs').append($("<option></option>")
                                .val(result.faqs[i].id).html(result.faqs[i].question));
                        });

                    }
                }
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#selected-picture').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#PictureFile").change(function () {
            readURL(this);
        });




        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#selected-icon').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#IconPictureFile").change(function () {
            readURL2(this);
        });

        $(window).on('load', function () {
            var PriceValue = $("#Price").val();

            var Price = separate(PriceValue);
            $("#Price").val(Price);
        });

        $("#Price").keyup(function () {

            var value = $("#Price").val();

            var convert = wordifyfa(value);
            if ($("#word-price").val() != "null") { $("#word-price").remove(); }
            $("#price-convert").append($("<span id='word-price' class='text-secondry'></span>").val(convert).html(convert));

            var seperatevalue = separate(value);

            $("#Price").val(seperatevalue);

            if (event.key === "Backspace" || event.key === "Delete") {

                var value2 = $("#Price").val().replace(/,\s?/g, "");

                var seperatevalue2 = separate(value2);

                $("#Price").val(seperatevalue2);
            }

        });

        function separate(Number) {
            const number = Number.replace(/[^0-9]/g, '');
            return number.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }


        $("form").submit(function () {
            var PriceValue = $("#Price").val();
            var DiscountValue = $("#Discount").val();

            var PriceNormalValue = PriceValue.replace(/,\s?/g, "");
            var DiscountNormalValue = DiscountValue.replace(/,\s?/g, "");

            $("#Price").val(PriceNormalValue);
            $("#Discount").val(DiscountNormalValue);
        });
    </script>
}