@using Constants.Files
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModels.AdminPanel.Filter.CategoriesFilterViewModel

@using Microsoft.Extensions.Options
@using Common.Utilities.Services.FTP.Models
@inject IOptions<FTPConnectionOptions> FtpConnectionOptions
@{
    string UrlBase = FtpConnectionOptions.Value.UrlBase;

    ViewData["Title"] = "لیست دسته بندی ها";
    ViewData["selected"] = "Categories_Index";
    var nodeLevel = (short)ViewData["nodeLevel"]!;
    var parentId = (int)ViewData["parentId"]!;
    var mainParentId = (int)ViewData["mainParentId"]!;

    var counter = ((Model.CurrentPage - 1) * Model.PageSize) + 1;
}

<a asp-controller="Categories" asp-action="Create" asp-route-parentId="@parentId" asp-route-nodeLevel="@(nodeLevel)" asp-route-mainParentId="@mainParentId" class="btn btn-success mb-2"> افزودن زیر دسته جدید <i class="bx bx-list-plus"></i></a>

@if (nodeLevel == 2)
{
    <a asp-controller="Categories" asp-action="Index" class="btn btn-info mb-2">
        بازگشت <i class="bx bx-undo"></i>
    </a>
}
else if (nodeLevel == 3)
{
    <a asp-controller="Categories" asp-action="Index" asp-route-parentId="@mainParentId" asp-route-nodeLevel="@(nodeLevel-1)" class="btn btn-info mb-2">
        بازگشت <i class="bx bx-undo"></i>
    </a>
}

<section>
	<button class="btn btn-primary mb-1" type="button" id="searchToggleButton">
		فرم جستجو <i class="bx bx-search"></i>
	</button>

	<div class="users-list-filter px-1 collapse mt-3" id="searchForm">
        <form method="get">
            <input type="hidden" asp-for="FindAll" id="FindAll" value="false" />
            <input type="hidden" class="form-control text-left" asp-for="ParentId" />
            <input type="hidden" class="form-control text-left" asp-for="NodeLevel" />

            <div class="row border rounded py-2 mb-2">
                <div class="col-12 col-sm-6 col-lg-3">
                    <label>تعداد نمایش در هر صفحه</label>
                    <fieldset class="form-group">
                        <select asp-for="PageSize" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </fieldset>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <label>وضعیت</label>
                    <fieldset class="form-group">
                        <select asp-for="IsActive" class="form-control">
                            <option value="null">انتخاب نشده</option>
                            <option value="true">فعال</option>
                            <option value="false">غیرفعال</option>
                        </select>
                    </fieldset>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <label>@Resources.General.DisplayNames.Name</label>
                    <input type="text" class="form-control text-left" asp-for="Name" />
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <label>@Resources.General.DisplayNames.Route</label>
                    <input type="text" class="form-control text-left" asp-for="Route" />
                </div>

                <div class="col-12 col-sm-6 col-lg-6">
                    <label>@Resources.General.DisplayNames.Content</label>
                    <input type="text" class="form-control text-left" asp-for="PageContent" />
                </div>

                <div class="col-12 col-sm-12 col-lg-6 d-flex align-items-center">
                    <div class="col-4 col-sm-4 col-lg-4 d-flex align-items-center">
                        <button id="empty" type="button" class="btn btn-warning btn-block glow users-list-clear mb-0 mt-75">خالی </button>
                    </div>
                    <div class="col-4 col-sm-4 col-lg-4 d-flex align-items-center">
                        <button type="submit" id="SetFindAll" class="btn btn-info btn-block glow users-list-clear mb-0 mt-75">همه</button>
                    </div>
                    <div class="col-4 col-sm-4 col-lg-4 d-flex align-items-center">
                        <button type="submit" class="btn btn-primary btn-block glow users-list-clear mb-0 mt-75">جستجو</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>
        <div class="card">
            <div class="card-content">
                <div class="car-body">
                    <div class="table-responsive card card-body p-0">
                        <table class="table mb-0 table-striped table-hover no-footer">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ردیف</th>
                                    <th>@(Resources.General.DisplayNames.Picture)</th>
                                    <th>@(Resources.General.DisplayNames.Icon)</th>
                                    <th>@(Resources.General.DisplayNames.Title)</th>
                                    <th>@(Resources.General.DisplayNames.Route)</th>
                                    <th>@(Resources.General.DisplayNames.IsActive)</th>
                                    <th>@(Resources.General.DisplayNames.Actions)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var courseCategory in Model.Entities)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td class="text-bold-700">
                                            <img class="rounded-circle mr-1" src="@UrlBase@Paths.Category@courseCategory.IconPicture" height="50" width="50">
                                        </td>
                                        <td class="text-bold-700">
                                            <img class="rounded-circle mr-1" src="@UrlBase@Paths.Category@courseCategory.Picture" height="100" width="100">
                                        </td>

                                        <td>@courseCategory.Name</td>
                                        <td>@courseCategory.Route</td>
                                        @if (courseCategory.IsActive)
                                        {
                                            <td>
                                                <span class="text-success">فعال</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="text-danger">غیرفعال</span>
                                            </td>
                                        }

                                        <td>
                                            <a asp-controller="Categories" asp-action="Update" asp-route-id="@courseCategory.Id" data-toggle="tooltip" data-placement="top" data-original-title="ویرایش"><i class="bx bxs-edit-alt text-warning"></i></a>
                                            @if (nodeLevel != 3)
                                            {
                                                <a asp-controller="Categories" asp-action="Index" asp-route-parentId="@courseCategory.Id" asp-route-nodeLevel="@(courseCategory.NodeLevel + 1)" asp-route-mainParentId="@Model.ParentId" data-toggle="tooltip" data-placement="top" data-original-title="زیر دسته بندی ها"><i class='bx bx-list-ul'></i></a>
                                                <a asp-controller="Categories" asp-action="Create" asp-route-parentId="@courseCategory.Id" asp-route-nodeLevel="@(courseCategory.NodeLevel + 1)" asp-route-mainParentId="@Model.ParentId" data-placement="top" data-original-title="افزودن زیر دسته بندی"><i class="bx bx-list-plus text-info"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    counter++;
                                }
                                @if (Model.Entities.Any() == false)
                                {
                                    <tr>
                                        <td colspan="8" class="text-center">@(Resources.General.DisplayNames.ListEmpty)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-borderless justify-content-center mt-2">
                                @if (Model.CurrentPage > 1)
                                {
                                    <li class="page-item previous">
                                        <a onclick="changePage(@(Model.CurrentPage-1))" class="page-link" href="#">
                                            <i class="bx bx-chevron-right"></i>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item previous disabled">
                                        <a class="page-link" href="#">
                                            <i class="bx bx-chevron-right"></i>
                                        </a>
                                    </li>
                                }
                                @for (int i = Model.StartPage; i < Model.EndPage; i++)
                                {
                                    <li class="@(i==Model.CurrentPage?"page-item active":"page-item")" onclick="changePage(@(i))">
                                        <a class="page-link">@i</a>
                                    </li>
                                }
                                @if (Model.CurrentPage < Model.EndPage)
                                {
                                    <li class="page-item next">
                                        <a onclick="changePage(@(Model.CurrentPage+1))" class="page-link" href="#">
                                            <i class="bx bx-chevron-left"></i>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item next disabled">
                                        <a class="page-link" href="#">
                                            <i class="bx bx-chevron-left"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-left" id="DetailForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">جزئیات</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بستن">
                        <i class="bx bx-x"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        function changePage(Page) {
            var url = new URL(window.location.href);
            var SerachParams = url.searchParams;
            //Change PageId
            SerachParams.set('CurrentPage', Page);
            url.search = SerachParams.toString();

            //new Url String
            var newUrlString = url.toString();
            window.location.replace(newUrlString);
        }

        $("#SetFindAll").click(function (event) {
            $("#FindAll").val("true");
        });

        $("#empty").click(function (event) {
            $("#PageSize").val(10);
            $("#IsActive").val('null');

            $("#Name").val(null);
            $("#Route").val(null);
            $("#Content").val(null);
        });
    </script>

}